@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serief;
    background-color: black;
}

body{  
    overflow: hidden0;
}
/* .backgroud{
        background: linear-gradient(rgba(0, 0, 0, 0.5) rgba(0,0,0,0.5));
        
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
    } */
header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}


.cabeçalho-link{
     display: flex;
     gap: 3rem;
    font-weight: 300;
    cursor: pointer;
    list-style-type: none;
}
.cabeçalho-link a{
    color: aliceblue;
    font-size: 12px;
    list-style-type: none;
    text-decoration: none;
}
.cabeçalho-link a:hover{
                    color: darkseagreen;
                    transition: 0,4s;
}


.logo{
                       height: 40px;
                       width: 40px;
                       background: transparent;
                       border:  darkseagreen solid 1px;
                       color: darkseagreen;
                       border-radius: 50%;
                       display: inline-flex0;
                       align-items: center;
                       text-align: center;
                       justify-content: center;
                       font-size: 13px;
                       cursor: pointer; 
                    }


button{
                    color: darkseagreen;
                    background: transparent;
                    border: solid 1px  darkseagreen ;
                    padding: 5px;
                    border-radius: 15px;
                    font-size: 12px;
                    width: 150px;
                    cursor: pointer;
                }

button:hover{
                    background-color: #2ecc71;
                    color: #fff;
                    transition: 0.5s;

                }


.container-text{
                        padding: 150px 0 0 130px;
                    }

.text h3{
                            color: #fff;
                            font-size: 15px;
                        }

 .text h1{
                            color: #fff;                  
                        margin-top: 10px;

                        }


.text span{
                        color: #2ecc71;
                    }

.text p{
    color: #fff;
                        font-size: 10px;
                        font-weight: 300;
                        margin-top: 10px;
                    }

.redes-sociais a{
                    color: #2ecc71;
                    padding: 10px;
                    margin-top: 5px;
                   }

 .btn{
                        margin-top: 10px;
                    }

.div-foto{
    background-image: url(./foto1.jpg);
    border-radius: 5%;
    width: 35rem;
    height: 22rem;
    max-width: 350px;
    margin-top: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.section1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.section2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 120px;
    background-color: #2ecc71;
    text-align: center;

}

.foto2{
    background-image: url(./foto2.jpg);
    border-radius: 5%;
    width: 35rem;
    height: 22rem;
    max-width: 350px;
    margin-top: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.s2-div2 p{
    color: rgb(255, 255, 255);
    background-color: #2ecc71;
    justify-content: center;
}
.s2-div2 span{
    color: #000000;
    background-color: #2ecc71;
}
.s2-div2 strong{
    color: #ffffff;
    background-color: #2ecc71;
}
.s2-div2 h3{
    color: #ffffff;
    background-color: #2ecc71;
}

.s3-div3{
    color: #fff;
    background-color: #2ecc71;
}
.tabela {
    background-color: white;
}

.section4 {
    color: rgb(255, 255, 255);
    padding-bottom: 120px;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.section5 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    
}

.s5-div5{
    color: #ffffff; 
    background-color: darkgray;
}

.section3{
    background-color: rgb(0, 0, 0);
}

form{
    background-color:  #2ecc71;
}

form > label{
    color: #fff;
}